################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VideoShop/bin/roslyn
/VideoShop/bin
/VideoShop/obj/Debug
/VideoShop.Tests/bin/Debug
/VideoShop.Tests/obj/Debug
