@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>OWASP Code Examples</h1>
    <p class="lead">A very poorly written application</p>
</div>

<div class="row">
    <p><h1>@Html.ActionLink("A1:2017 - Injection", "Index", "Patient")</h1></p>
</div>


<div class="row">
    <p><h1>@Html.ActionLink("A5:2017 - Broken Access Control", "Random", "Movies")</h1></p>
</div>

<div class="row">
    <p><h1>@Html.ActionLink("A7:2017 - Cross-Site Scripting (XSS)", "Index", "User")</h1></p>
</div>

